#container_login {
  width: 30%;
  margin: 0px auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container_login #login {
  margin: 0px, auto;
  position: relative;
  bottom: 20px;
}

#container_login #login img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-bottom: 20px;
  align-self: center;
}

#container_login #login form input {
  margin-bottom: 5px;
}

/*Edicion posterior*/

#login .inputs {
  display: block;
}

#login .boton-verde {
  width: 322px;
}